{% extends "base.html" %}
{% load url from future %}
{% load dict_filters %}
{% block subtitle %} | Resident Lookup{% endblock %}

{% block content %}
	<div id="content">
		<div id="mainLeftFull">
			<h1>Resident Lookup</h1>
			<div class="left_column">
				<form method="post" id="search_form_alias">
					<fieldset>
						<legend>
							Search by Cal Poly Alias
						</legend>
						{{ form_alias.as_p }}
					</fieldset>
					<p>
						<input type="hidden" name="lookup_type" value="alias" />
						<input type="submit" value="Submit" />
					</p>
					{% csrf_token %}
				</form>
			</div>
			<div class="right_column">
				<form method="post" id="search_form_rmsID">
					<fieldset>
						<legend>
							Search by RMS ID
						</legend>
						{{ form_rmsID.as_p }}
					</fieldset>
					<p>
						<input type="hidden" name="lookup_type" value="rmsID" />
						<input type="submit" value="Submit" />
					</p>
					{% csrf_token %}
				</form>
			</div>
			<div class="clear"></div>
			<h3>Results</h3>
			<table border="1" class="table_directory">
	            <tbody>
	                <tr>
	                    <th scope="col" width="10%">RMS ID</th>
	                    <th scope="col" width="25%">Session Date</th>
	                    <th scope="col" width="18%">Session Time</th>
	                    <th scope="col" width="18%">Session Zone</th>
	                    <th scope="col" width="29%">Session Locations</th>
	                </tr>
	                {% if data %}
	                <tr>
	                    <td>{{ data.rmsID }}</td>
	                    <td>{{ data.date|date }}</td>
	                    <td>{{ data.time|time }}</td>
	                    <td>{{ data.zone }}</td>
	                    <td>
							{% with zones|keyvalue:data.zone as zone %}
	                    	{% for name in zone.names %}
			             		{{ name }}{% if not forloop.last %}, {% endif %}
			             	{% endfor %}
			             	{% endwith %}
			         	</td>
	                </tr>
	                {% else %}
	                <tr>
	                	<td></td>
	                	<td></td>
	                	<td></td>
	                	<td></td>
	                	<td></td>
	                </tr>
	                {% endif %}
	            </tbody>
	        </table>
		</div>
	</div>
{% endblock %}