{% extends "base.html" %}
{% load url from future %}
{% load dict_filters %}

{% block content %}
	<div id="content">
	    <div id="mainLeftFull">
	        <h1>Information</h1>
	        {% if request.reservation_open %}
	        	<p>Due to the limited parking surrounding Cal Poly's on-campus apartments, residents must schedule a short-term loading/unloading time for their assigned building.</p>
		        <h3>Move-in Dates (Subject to Change)</h3>
		        <table border="1" class="table_directory">
		            <caption>
		            	<strong>Poly Canyon Village Residents</strong><br />
		            </caption>
		            <tbody>
		                <tr>
		                    <th>Date</th>
		                    <th>Time</th>
		                    <th>Class Level(s)</th>
		                </tr>
		                <tr>
		                    <td>Monday, September 15, 2014</td>
		                    <td>08:00 a.m. - 06:00 p.m.</td>
		                    <td>Freshmen</td>
		                </tr>
		                <tr>
		                    <td>Tuesday, September 16, 2014</td>
		                    <td>08:00 a.m. - 06:00 p.m.</td>
		                    <td>Freshmen, Transfer Students</td>
		                </tr>
		                <tr>
		                    <td>Friday, September 17, 2014</td>
		                    <td>08:00 a.m. - 06:00 p.m.</td>
		                    <td>All Students</td>
		                </tr>
		                <tr>
		                    <td>Saturday, September 18, 2014</td>
		                    <td>08:00 a.m. - 06:00 p.m.</td>
		                    <td>All Students</td>
		                </tr>
		                <tr>
		                    <td>Sunday, September 19, 2014</td>
		                    <td>08:00 a.m. - 06:00 p.m.</td>
		                    <td>All Students</td>
		                </tr>
		            </tbody>
		        </table>
		        <p>Residents may receive their keys and move into their apartments during any of the dates and times listed above.</p>
		        <p>Vehicles, however, are allowed on roads for short-term loading/unloading only on a pre-scheduled basis.</p>
		        <p>Please follow the specific driving and parking directions for your community, which you may download along with your parking pass after you reserve a session.</p>

				<h3>Early and Late Arrivals</h3>

				<p>If you arrive before or after the move-in time you reserved, you may still check in and receive your keys after parking in the parking lot/structure designated in the driving and parking directions for your community.
				Once you receive your keys, you are then welcome to unload your vehicle from your designated parking lot/structure.</p>
				<p>Early arrivers may wait until their move-in time to get access to short-term loading/unloading parking. Late arrivers may receive a new short-term parking loading/unloading pass as space permits.</p>

		        {% if not request.user.is_authenticated %}<h2>Please <a href="{% url 'login' %}">log in</a> to get started.</h2>{% endif %}
	        {% else %}
		        <p>The window to schedule a short-term loading/unloading time for move-in is now closed. If you missed the window, you may receive a short-term parking loading/unloading pass after checking in as space permits.</p>
		        <p>If you have any questions, please call the Poly Canyon Village Housing Administration Office at +1 (805) 756-9300.</p>

		        {% if not request.user.is_authenticated %}<h2>If you reserved a session while reservation was still open, you may view your reservation by <a href="{% url 'login' %}">logging in</a>.</h2>{% endif %}
			{% endif %}
	    </div>
	</div>
{% endblock %}
