<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="en" />
        <meta name="language" content="en" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="codebase" content="5.0" />
        <meta name="layout" content="Cal Poly Web Template" />
        <meta name="author" content="Alex Kavanaugh - ResNet Development Team" />
        <meta name="Keywords" content="University Housing Parking Reservation" />
        <meta name="Description" content="University Housing Parking Reservation" />
        <link href="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/css/cp_screen.min.css" rel="stylesheet" type="text/css" />
        <link href="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/css/cp_print.min.css" rel="stylesheet" type="text/css" media="print" />
        <!--[if IE 8]>
        <link href="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/css/ie8_screen.min.css" rel="stylesheet" type="text/css" />
        <link href="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/css/ie8_print.min.css" rel="stylesheet" type="text/css" media="print" />
        <![endif]-->
        <!--[if IE 7]>
        <link href="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/css/ie7_screen.min.css" rel="stylesheet" type="text/css" />
        <link href="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/css/ie7_print.min.css" rel="stylesheet" type="text/css" media="print" />
        <![endif]-->
        <link href="{% static 'css/screen.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/print.css' %}" rel="stylesheet" type="text/css" media="print" />
        <link rel="shortcut icon" href="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/images_html/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
        {% block meta %}{% endblock %}
        <title>University Housing - Parking Reservation{% block subtitle %}{% endblock %}</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <!-- Begin Login Display Module -->
                {% block login_display %}
                <div id="loginDisplay">
                    <ul>
                        {% if request.user.is_authenticated %} {# User is logged in - display user information. #}
                        <li>
                            You are logged in as {{ user_display_name }}. (<a href="{% url 'core:logout' %}">Logout</a>)
                        </li>
                        {% else %} {# User is not logged in - display log in link. #}
                        <li>
                            You are not currently logged in. (<a href="{% url 'core:login' %}">Login</a>)
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% endblock %}
                <!-- End Login Display Module -->
                <hr />
                <div id="headerContent">
                    <div id="cplogo">
                        <a href="http://www.calpoly.edu/" ><img src="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/images_html/header/cp_logo.jpg" alt="Cal Poly, San Luis Obispo" height="75" width="150" /></a>
                    </div>
                    <div style="width: auto;" id="deptName">
                        <h2><a href="{% url 'core:home' %}">University Housing - Parking Reservation</a></h2>

                        <h3>Embrace Your Unlimited Possibilities</h3>
                    </div>
                </div>
            </div>
            <div id="contentLine"></div>
            <!-- Begin Side Navigation Bar -->
            {% block sidenav %}
            {% if request.user.is_authenticated %}
            <div id="rightCol">
                {% if reservation_open or request.user.reservationslot %}
                <h2>Resident Resources</h2>
                <ul>
                    {% if request.user.reservationslot %}
                    <li><a href="{% url 'reservations:view_reservation' %}">View Reservation</a></li>
                        {% if reservation_open %}
                        <li><a href="{% url 'reservations:change_reservation' %}">Change Reservation</a></li>
                        {% endif %}
                    {% else %}
                        {% if reservation_open %}
                        <li><a href="{% url 'reservations:reserve' %}">Reserve</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
                {% endif %}
                {% if request.user.is_admin %}
                <h2>Administrator Resources</h2>
                <ul>
                    <li><a>Reservation Management</a>
                        <ul>
                           <li><a href="{% url 'reservations:generate_reservation_slots' %}">Generate Reservation Slots</a></li>
                           <li><a href="{% url 'reservations:list_time_slots' %}">List Time Slots</a></li>
                        </ul>
                    </li>
                    <li><a>Parking Zone Management</a>
                        <ul>
                          <li><a href="{% url 'zones:list_zones' %}">List Zones</a></li>
                          <li><a href="{% url 'zones:create_zone' %}">Create Zone</a></li>
                        </ul>
                    </li>
                    <li><a>PDF Management</a>
                        <ul>
                          <li><a href="{% url 'administration:update_maps' %}">Update Parking Maps</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href="{% url 'statistics:statistics' %}">Statistics</a></li> -->
                    <li><a>Settings</a>
                        <ul>
                           <li><a href="{% url 'administration:settings' %}">Edit Settings</a></li>
                           <li><a href="{% url 'administration:purge' %}">Purge Reservations</a></li>
                           <li><a href="{% url 'administration:become_student' %}">Become a Student</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>
            {% endif %}
            {% endblock %}
            <!-- End Side Navigation Bar -->
            {% block content %}{% endblock %}
            <div class="clear"></div>
            {% block footer %}
            <div id="footer">
                <ul id="footer_links">
                    <li id="footerLogo">
                        <a href="http://www.calpoly.edu/"><img src="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/images_html/footer/footer_logo.png" height="24" width="138" alt="Cal Poly" title="Go to Cal Poly Home" /></a>
                    </li>
                </ul>
                <div id="footer_deptinfo">
                    <p>
                        &copy; 2015 ResNet Development Team
                        <br />
                        California Polytechnic State University &nbsp;<img src="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/images_html/footer/footer_separator.jpg" alt="" height="10" width="1" />&nbsp; San Luis Obispo, California 93407
                        <br />
                        <a href="mailto:">resdev@calpoly.edu</a>
                    </p>
                </div>
            </div>
            {% endblock %}
            <div class="clear"></div>
        </div>
        {% block extra_script %}{% endblock %}
    </body>
</html>
