{% extends "base.html" %}

{% block subtitle %} | PDF Map Upload{% endblock %}

{% block content %}
	<div id="content">
		<div id="mainLeftFull">
			<h1>PDF Map Upload</h1>
			<p>The following fields may be used to upload informational PDF maps. Links to these maps are displayed when a student views his/her reservation.</p>
			<form method="post" enctype="multipart/form-data" id="zone_text_form">
				{{ form.as_p }}
				<p>
                    <input type="submit" value="Upload" />
                </p>
                {% csrf_token %}
			</form>
		</div>
		<div>
		  <h2>Current PDFs</h2>
            <a href="/media/documents/trans_pcv_parking_info.pdf" target="blank">Poly Canyon Village Transfer Student Parking Information (PDF)</a><br />
            <a href="/media/documents/co_pcv_parking_info.pdf" target="blank">Poly Canyon Village Continuing Student Parking Information (PDF)</a><br />
            <a href="/media/documents/pcv_loop_nav_info.pdf" target="blank">Poly Canyon Village Loop Navigation Information (PDF)</a><br />
            <a href="/media/documents/fresh_trans_cerro_parking_info.pdf" target="blank">Cerro Vista Freshman/Transfer Student Parking Information (PDF)</a><br />
            <a href="/media/documents/co_cerro_parking_info.pdf" target="blank">Cerro Vista Continuing Student Parking Information (PDF)</a><br />
		</div>
	</div>
{% endblock %}