{% extends "base.html" %}
{% load url from future %}
{% load dict_filters %}

{% block content %}
	<div id="content">
	    <div id="mainLeftFull">
	        <h1>Information</h1>
	        {% if request.session.settings.status_is_open %}
	        <h2>About the Reservation System</h2>
	        <p>Due to the limited parking around Cal Poly's on-campus apartment buildings, we have implemented a reservation system that allows residents to schedule a time for short-term loading/unloading on the loop road closest to their assigned buildings.</p>
	        <p><b><font color="red">Please note that the Wednesday and Thursday move-in sessions are for Freshmen and Transfer Students only.</b></p></font>
	        <h3>{% if request.session.settings.mode_is_move_in %}Move-in{% else %}Move-out{% endif %} Dates (Subject to Change)</h3>
	        <table border="1" class="table_directory">
	            <caption>
	            <strong>Poly Canyon Village Residents</strong><br />
	            </caption>
	            <tbody>
	                <tr>
	                    <th scope="col" width="15%">Date</th>
	                    <th scope="col" width="15%">Time</th>
	                </tr>
	                {% for i in data.PCV|length|getrange %}
	                {% with data.PCV|keyvalue:i as session %}
	                <tr>
	                    <td>{{ session.date|date }}</td>
	                    <td>{{ session.start_time|time }} - {{ session.end_time|time }}</td>
	                </tr>
	                {% endwith %}
	                {% endfor %}
	            </tbody>
	        </table>
	        <table border="1" class="table_directory">
	            <caption>
	            <strong>Cerro Vista Residents</strong><br />
	            </caption>
	            <tbody>
	                <tr>
	                    <th scope="col" width="15%">Date</th>
	                    <th scope="col" width="15%">Time</th>
	                </tr>
	                {% for i in data.CV|length|getrange %}
	                {% with data.CV|keyvalue:i as session %}
	                <tr>
	                    <td>{{ session.date|date }}</td>
	                    <td>{{ session.start_time|time }} - {{ session.end_time|time }}</td>
	                </tr>
	                {% endwith %}
	                {% endfor %}
	            </tbody>
	        </table>
	        <p>Residents may receive their apartment keys and {% if request.session.settings.mode_is_move_in %}move in to{% else %}move out of{% endif %} their apartments any time during the above listed dates and times.</p>
	        <p>Vehicles, however, will only be allowed into the inner loop roads for short-term loading/unloading on a pre-scheduled basis.</p>
	        <p>Please follow the specific driving and parking directions which you will receive at the end of this process and with your {% if request.session.settings.mode_is_move_in %}move-in{% else %}move-out{% endif %} information.</p>
	        
	        <h3>Early Arrivals</h3>
	        <p>If you arrive before your scheduled {% if request.session.settings.mode_is_move_in %}move-in{% else %}move-out{% endif %} time you may still check in and receive your apartment keys. If you are a Poly Canyon Village resident, you may park in the parking structure closest to your building and walk to the entrance of your assigned building to receive your keys. If you are a Cerro Vista resident, you may park in the designated lot and walk to the Cerro Vista Community Center to receive your keys.</p>
	        <p>Once you receive your keys, you are then welcome to unload your vehicle from the parking structure/lot or wait until your {% if request.session.settings.mode_is_move_in %}move-in{% else %}move-out{% endif %} time to get access to short term loading/unloading parking.</p>
	        
	        <h3>Late Arrivals</h3>
	        <p>If you miss your time, we will provide a short-term parking loading/unloading pass for you as space permits. If you are a Poly Canyon Village resident, you may park in the parking structure closest to your building and walk to the entrance of your assigned building to receive your keys and a new short-term loading/unloading time. If you are a Cerro Vista resident, you may park in the designated lot and walk to the Cerro Vista Community Center to receive your keys and a new short-term loading/unloading time.</p>
	        <p>You may then unload your vehicle from the parking structure/lot or wait until your rescheduled time for access to the short term loading/unloading area.</p>
	        
	        {% if not request.user.is_authenticated %}<h2>Please <a href="{% url 'login' %}">log-in</a> to get started.</h2>{% endif %}
	        {% else %}
	        <p>The system to sign-up for a specific {% if request.session.settings.mode_is_move_in %}move-in{% else %}move-out{% endif %} time is now closed. Residents of Cerro Vista or Poly Canyon Village who were not able to sign up previously can come and receive a {% if request.session.settings.mode_is_move_in %}move-in{% else %}move-out{% endif %} pass when they {% if request.session.settings.mode_is_move_in %}check in{% else %}check out{% endif %}.</p>
	        <p>If you have any questions, please call the Poly Canyon Village Administration Office at (805) 756-9300.</p>
	        
	        {% if not request.user.is_authenticated %}<h2>If you reserved a session before reservation closed, you may still view your reservation by <a href="{% url 'login' %}">loggin-in</a>.</h2>{% endif %}
			{% endif %}
	    </div>        
	</div>
{% endblock %}
