{% extends "base.html" %}
{% load url from future %}

{% block subtitle %} | Authentication{% endblock %}

{% block content %}
	<div id="mainColFull">
		<h1>Authentication</h1>
		<div class="left_column">
			<form method="post" action="{% url 'login' %}" id="login_form_student">
				<fieldset>
					<legend>
						Students
					</legend>
						{{ form_student.non_field_errors }}
						<p>
							{{ form_student.alias.errors }}
							<label for="id_<field-name>">{{ form_student.alias.label }}:</label>
						    {{ form_student.alias }}&nbsp;&nbsp;&nbsp;&nbsp;<strong>@calpoly.edu</strong>
						</p>
						<p>
							{{ form_student.dob.errors }}
							<label for="id_<field-name>">{{ form_student.dob.label }}:</label>
						    {{ form_student.dob }}
						</p>
				</fieldset>
				<p>
					<input type="hidden" name="user_type" value="student"/>
					<input type="submit" value="Submit" />
					<input type="reset" value="Reset" />
				</p>
				{% csrf_token %}
			</form>
		</div>
		<div class="right_column">
			<form method="post" action="{% url 'login' %}" id="login_form_admin">
				<fieldset>
					<legend>
						Administrators
					</legend>
					{{ form_admin.as_p }}
				</fieldset>
				<p>
					<input type="hidden" name="user_type" value="admin"/>
					<input type="submit" value="Submit" />
					<input type="reset" value="Reset" />
				</p>
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock %}