<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load chartit %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
	<link href="/static/css/chart.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="https://webresource.its.calpoly.edu/cpwebtemplate/5.0.1/common/images_html/favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/static/js/highcharts.js"></script>
	<title>University Housing - Statistics Chart</title>
</head>
<body>

			<td> {{ chart1|load_charts:"container1" }}
				<div id='container1'>
					Chart will be rendered here
				</div>
			</td>

</body>
</html>